Toronto Neighborhood Segmentation project

Before we get the data, I'll  download the necessary dependencies that we will need for the project

Part 1/3

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

As the data specific to Toronto is not readily available we need to scrape information from the suggested Wikipedia site.

In [11]:
# let's read the webpage from the wiki
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response = requests.get(url)

#Process and convert html data
data = response.text
soup = BeautifulSoup(data,'html.parser')
table_wikipedia=soup.find('table')

#Create the pandas dataframe
toronto_df = pd.read_html(str(table_wikipedia))[0]
toronto_df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [13]:
# No need for the first column hence we will drop it
# Drop the first column
toronto_df.drop(0,inplace=True)
#Rename the columns names
toronto_df.columns = ['PostalCode','Borough','Neighborhood']
toronto_df.head()

  PostalCode           Borough                      Neighborhood
1        M2A      Not assigned                      Not assigned
2        M3A        North York                         Parkwoods
3        M4A        North York                  Victoria Village
4        M5A  Downtown Toronto         Regent Park, Harbourfront
5        M6A        North York  Lawrence Manor, Lawrence Heights

In [14]:
# Let's remove all 'Not assigned' values in Borough as they are not useful
toronto_df2=df[df['Borough'].str.contains("Not assigned") == False].reset_index()
toronto_df2.head()

,index,PostalCode,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [15]:
# We'll manipulate the data a bit more to avoid unnecessary redundancy and weherever Borough and Neighnorhood have the same PostalCode, I'll merge in one row

toronto_df3= toronto_df2.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(', '.join).reset_index()
toronto_df3.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [16]:
#check the shape of the newly created data frame
toronto_df3.shape

(103, 3)

In [17]:
# As the data looks much better than what we started with, I'll save it in a csv as CourseraCapstone_p1.csv

toronto_df3.to_csv('CourseraCapstone_p1.csv')
print('Saved!')

Saved!