Toronto Neighborhood Segmentation project

Before we get the data, I'll download the necessary dependencies that we will need for the project

Part 2/3

In [1]:
import pandas as pd

In [35]:
# I'll get the data to create our data frame by leveraging the link provided in the instructions
geolocation_df=pd.read_csv('http://cocl.us/Geospatial_data')
geolocation_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [36]:
# I'll adjust the Postal Code name to match the name from our data frame from step 1
geolocation_df = geolocation_df.rename(columns = {'Postal Code':'PostalCode'}) 
geolocation_df.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [37]:
# In order to merge the 2 datasets I'll load the first one
toronto_df3 = pd.read_csv('CourseraCapstone_p1.csv')
toronto_df3.head()

   Unnamed: 0 PostalCode      Borough                            Neighborhood
0           0        M1B  Scarborough                          Malvern, Rouge
1           1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2           2        M1E  Scarborough       Guildwood, Morningside, West Hill
3           3        M1G  Scarborough                                  Woburn
4           4        M1H  Scarborough                               Cedarbrae

In [38]:
# Now we merge teh 2 datasets by PostalCode
toronto_df3 = pd.merge(toronto_df3, geolocation_df, on = "PostalCode")
toronto_df3.head()

,Unnamed: 0,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [39]:
toronto_df3.shape

(103, 6)

In [40]:
toronto_df3.drop(toronto_df3.columns[0], axis=1, inplace=True)
toronto_df3.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [41]:
toronto_df3.shape

(103, 5)